
.container-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-add-task {
  width: 200px;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(141, 141, 141, 0.116);
  color: rgba(255, 255, 255, 0.76);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
  cursor: pointer;
}

.button-add-task:hover {
  transition: all 0.5s ease;
  border: 1px solid #fff;
  color: #fff;
}