header {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header span {
  color: rgba(255, 255, 255, 0.76);
  font-size: 18px;
}