li {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

i:first-child {
  margin-right: 10px;
}

i:last-child {
  margin-left: 10px;
}

i:hover {
  color: rgb(6, 201, 6);
}

.task {
  color: #fff;
  font-size: 22px;
}

.check, .delete {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.check-activate {
  color: rgb(6, 201, 6);
}

.check-activate-text {
  text-decoration: line-through;
}

.delete:hover {
  color: red;
}