* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #031956;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#root {
  height: 100%;
}
/* Innecesary I can make in body but is more correct this*/
